@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-sans: 'PalmRoyale', sans-serif;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}

.mask-clip-path {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

::-webkit-scrollbar {
  width: 7px;  
  height: 12px; 
}

::-webkit-scrollbar-track {
  background: #000000;  
}

::-webkit-scrollbar-thumb {
  background: #3b3b3b;  
  border-radius: 12px;  
  min-height: 20px; 
  max-height: 30px;        
}

@font-face {
  font-family: 'PalmRoyale';
  src: url('/fonts/PalmRoyale.woff2') format('woff2'),
       url('/fonts/PalmRoyale.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}